*{
    border-width: 1px;
}

body{
background-color:#34495E ;

}

h1{
    color: #F1C40F;
}

h2{
    color: #FDFEFE;
}

p{
    color: #D4AC0D;

}
.proyectos{
position: relative;
}



.proyectos p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    opacity: 0;
}

.proyectos :hover p{
    opacity: 1;
}

.proyectos :hover img{
opacity: 0.5;
}

.flex-proyec{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.flex-title{
display: flex;
background-color: #21618C;
justify-content: space-around;
align-content: center;
align-items: center;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

.flex-options{
display: flex;
flex-wrap: wrap;
gap: 10px;
padding-left: 350px;
}

.flex-name{
padding-left: 40px;

}

.footer{
display: flex;
justify-content: flex-end;
}

a{
    color: #641E16; 
    text-decoration: none;
    font-size: 15px;
}

a:link{
    color: #641E16; 
}

a:visited{
    color: #bf483a; 
}

